.pagination > li {
    display:inline;
}

.pagination > li > a {
    padding: 5px 5px;
    margin: 3px;
}

.pagination > li:hover {
    cursor: pointer;
    background-color: rgb(175, 172, 168);
    border-radius: 50%;
}

.pagination > li.active {
    background-color: #1976d2;
    color: white;
    border-radius: 60%;
}
